[Desktop Entry]
_Name=NetSpeed
Exec=NetSpeed
Icon=NetSpeed/NetSpeed.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#141526
